body {
  background: none;
}

.body_panel {
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
}

body-dock {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 200px;
  min-width: 600px;
  max-width: 800px;
}

.donation_announcer {
  font-size: 12px;
  font-family: 'Armata Regular';
}

.donation_announcer_cont {
  margin: -2px 39px -20px;

  border-image: url(coui://ui/main/shared/img/build_bar/img_build_bar_menu_bground.png) 35 35 23 35 fill;
  border-width: 35px 35px 23px 35px;

  position: relative;
}

.current_donation.insufficient {
  background: #800;
}

.current_donation.finished {
  opacity: 0.5;
}

.donation_list {
  list-style-type: none:
}

.donation_item {
  display: inline;
  background: #2a2;
  color: black;
  padding-left: 0.4em;
  padding-right: 0.4em;
  line-height: 1.5em;
}

.donation_item.selected {
  color: white;
}

.donation_item.finished {
  opacity: 0.3;
}

.amount {
  text-align: right;
  color: #0f0;
  font-weight: bold;
  padding-right: 0.5em;
}

.min-total {
  text-align: right;
  color: #ff0;
  font-weight: bold;
}

.donor {
  text-align: right;
  color: #888;
}

.cancel {
  text-align: right;
  color: #F00;
  padding-left: 1em;
  font-weight: bold;
}

.cancel:hover {
  color: black;
  background-color: red;
}

.code {
  font-size: 20px;
  background:#1e7aa1;
  color: black;
  font-weight: bold;
}

.uncode {
  background:#1e7aa1;
  color: black;
  font-weight: bold;
}

.player {
  background:#a2a;
  color: black;
  font-weight: bold;
}

.planet {
  background:#2a2;
  color: black;
  font-weight: bold;
}

.minimum {
  font-size: 20px;
  color: #ff0;
  font-weight: bold;
  padding-left: 1em;
}

