body {
  background: none;
}

.body_panel {
  position: absolute;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
}

body-dock {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 200px;
  min-width: 400px;
  max-width: 800px;
}

.donation_announcer {
  font-size: 12px;
  font-family: 'Armata Regular';
}

.donation_announcer_cont {
  border-image:url(coui://ui/main/shared/img/panel/img_menu_panel.png) 14 22 22 22;
  border-width:14px 22px 22px 22px;
  box-shadow: inset 1000px 1000px 1000px 1000px #000;
  margin:-13px 8px -30px 8px;
  position: relative;
}

.waiting_list {
  list-style-type: none:
}

.waiting_item {
  display: inline;
}

.current_donation.insufficient {
  background: #800;
}

.current_donation.finished {
  opacity: 0.5;
}

.amount {
  text-align: right;
  color: #0f0;
  font-weight: bold;
  padding-right: 0.5em;
}

.min-total {
  text-align: right;
  color: #ff0;
  font-weight: bold;
}

.donor {
  text-align: right;
  color: #888;
}

.cancel {
  text-align: right;
  color: #F00;
  padding-left: 1em;
  font-weight: bold;
}

.cancel:hover {
  color: black;
  background-color: red;
}

.code {
  font-size: 20px;
  background:#1e7aa1;
  color: black;
  font-weight: bold;
}

.uncode {
  background:#1e7aa1;
  color: black;
  font-weight: bold;
}

.player {
  background:#a2a;
  color: black;
  font-weight: bold;
}

.planet {
  background:#2a2;
  color: black;
  font-weight: bold;
}

.minimum {
  font-size: 20px;
  color: #ff0;
  font-weight: bold;
  padding-left: 1em;
}

