.donation_announcer_foundation {
  visibility: visible;
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-align: center;
  height: auto;
}

#donation_announcer {
  display: inline-block;
  width: 900px;
}
